<div class="container">
<section class="form-contact">
  <h1>Bienvenido al ingreso de notas rápidas</h1>
  <div class="form-group">
    Título:
    <input type="text" name="duracionactividad" ngModel="nota.titulonota" placeholder='Ingrese título de la nota' class="form-control">
  </div>
  <div class="form-group my-3">
    Descripción:
    <textarea style="background-color:#ffcc33;color:black" name="descripcionbitacora" ngModel="nota.descripcionnota" placeholder="Ejemplo: Esta es mi nota"  rows="3" class="form-control"></textarea>
  </div>
</section>
<div class="btn-group" role="group">
  <button type="button" class="btn btn-danger">Cancelar</button>
  <button type="button" class="btn btn-success">Guardar</button>
</div>
<div class="BarraInferior"><p>www.ubiobio.cl / Av Collao 1202, Concepción</p></div>
</div>
