<a [routerLink]="['/notas/add']" class="btn btn-info btn-block float-end mb-2">
  Agregar nota
</a>
<table datatable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="notas?.length != 0"
    <tr *ngFor="let nota of notas">
      <td>{{nota.created_at | date: 'dd-MM-yyyy'}}</td>
      <td>{{nota.duracionactividad | slice:-4:-2}}:{{nota.duracionactividad | slice:-2}} hrs</td>
      <td>{{nota.actividadcorrespondea | titlecase}}</td>
      <td>
        <div class="d-flex justify-contentbetweeen align-items-center">
          <a [routerLink]="['/notas/detail', nota.idnota]" class="btn btn-success btn-block">
            Ver
          </a>
          <a [routerLink]="['/notas/edit', nota.idnota]" class="btn btn-info btn-block">
            MODIFICAR
          </a>
          <button class="btn btn-danger" (click)="deletenota(nota.idnota)">
            <i class="far fa-trash-alt" ></i>
          </button>
          </div>

      </td>
    </tr>
  </tbody>
  <tbody *ngIf="notas?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>
