<div class="container">
  <div class="col-md-4 offset-md-4">
  <div class="card">
      <div class="card-body">
          <form >
              <h4 class="d-flex justify-content-center mb-3"> {{ titulo_nota }}</h4>
              <div class="form-group">
                  Título:
                  <input style="background-color: #ffe8aa ; color: black;" type="text" name="titulonota" [(ngModel)]="nota.titulo" placeholder='Ingrese titulo' class="form-control">
              </div>
              <div class="form-group my-3">
                  Descripción:
                  <textarea style="background-color: #ffe8aa ; color: black;" name="descripcionnota" [(ngModel)]="nota.contenido" placeholder="Ejemplo: Esta es mi descripcion"  rows="3" class="form-control"></textarea>
              </div>
              <div class="d-flex align-items-center">
                  <a [routerLink]="['/notas']" class="form-control btn btn-danger btn-block">
                      Volver
                    </a>
                  <button class="form-control btn btn-success btn-block " (click)="edit ? updateNota() : saveNewNota()">
                      Guardar
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
</div>
