
.container {
  width: 100%;
  height: 100%;
  display: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-image: url(Laguna-UBB-parque-Concepcion.jpg);
  background-size: auto auto;
}

.card-body {
  background-color: #f1d792;
  color: black;
}
