.container {
  width: 100%;
  height: 100%;
  display: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-size: 100% 100% 100% 100%;
}

.card-body {
  background-color: #0040b0;
  color: white;
}
